NEXT_PUBLIC_API_URL=http://localhost:3001/api
HEALTH_AUTH=false
HEALTH_USERNAME=''
HEALTH_PASSWORD=''
NEXT_PUBLIC_APP_NAME=Mina sidor
NEXT_PUBLIC_BASE_PATH=''
NEXT_PUBLIC_MATOMO_URL=
NEXT_PUBLIC_MATOMO_SITE_ID=
NEXT_PUBLIC_INACTIVITY_WARNING_TIMEOUT=600000
NEXT_PUBLIC_INACTIVITY_WARNING_TIMEOUT=300000
NEXT_PUBLIC_ALERT_BANNER_MESSAGE=
NEXT_PUBLIC_ALERT_BANNER_SEVERITY=
NEXT_PUBLIC_DELEGATE_CHANNEL="se.stadsbacken.minasidor-test"
NEXT_PUBLIC_FEATURE_AI_ASSISTANT=true
NEXT_PUBLIC_FEATURE_DISTURBANCES=true